<!DOCTYPE html>
<html>

<!-- This is the head -->
<!-- All styles and javascript go inside the head -->
    <head>
        <meta charset="utf-8" />
        <title> HW 1: Object Oriented Programming </title>
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Saira+Condensed&display=swap" rel="stylesheet">
    </head>
<!-- closing head -->

    <!-- This is the body -->
    <!-- This is where we place the content of our website -->
    <body>
        <header>
            <h1><u> Object Oriented Programming </u></h1>
        </header>
        <hr />
        <nav>
            <a href="/home"> Home </a>
            <a href="/class"> Class </a>
            <a href="/inheritance"> Inheritance </a>
            <a href="/object"> Object </a>
        </nav>
        <br /><br />