<% include partials/header.ejs %>

        <div id="content">
            
            <figure>
                <img src="img/class.png" alt="Example of a class.">
            </figure>
            <a href="https://javatutorial.net/java-oop"> Image Source </a>
            <div>

                <br /><br />
                <h2>Classes are...</h2>
                <p>a template for creating objects by providing a collection of different variables and procedures. A class defines the contents of the objects that belong to it.</p>
                
                
                <br /><br />
                
            </div>
            
        </div>

<% include partials/footer %>