<% include partials/header.ejs %>

        <main style="display:flex">
            
            <figure>
                <img src="img/oop.jpg" alt="Object Oriented Programming">
                <br>
                <a href="https://www.geeksforgeeks.org/object-oriented-programming-oops-concept-in-java/"> Image Source </a>
            </figure>
            
            <div>
                <br /><br />
                <h2>Object Oriented Programming is...</h2>
                <p>a type of program design that is organized by <strong>objects</strong> that represent data and methods. This allows for the code to be <strong>reused</strong> easily by other users or programs.</p>
                
                <br /><br />
                
                
            </div>
            
        </main>
        
<% include partials/footer %>