<% include partials/header.ejs %>

        <main style="display:flex">
            
            <figure>
                <img src="img/inheritance.jpg" alt="Inheritance Example">
                <br>
                <a href="http://www.javalearningacademy.com/object-oriented-programming-concepts-as-a-story/"> Image Source </a>
            </figure>
            
            <div>
                <h2>Inheritance is...</h2>
                <p>a mechanism that allows a class to be derived from another and share a set of attributes features, fields, and methods.</p>
                
                <br /><br />
                
                
            </div>
            
        </main>
        
<% include partials/footer %>