<% include partials/header.ejs %>

        <div id="content">
            
            <figure>
                <img src="img/object.png" alt="Example of an object.">
            </figure>
            <a href="https://www.geeksforgeeks.org/object-oriented-programming-oops-concept-in-java/"> Image Source </a>
            <div>
                <h2>An object is...</h2>
                <p>an an abstract data class that is instance of a <b>class.</b> It consists of a state, behavior, and identity.</p>
                
                <br /><br />
                
            </div>
            
        </div>
        
<% include partials/footer %>